<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIS440 - Home</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/admin-scripts.js"></script>
    <meta name="theme-color" content="#7952b3">
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/admin.css" rel="stylesheet">
</head>
<body class="text-center">
    <div class="titlecontainer">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar sticky-top">
            <a class="navbar-brand" href="#">Hi <%= username %></a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <form action="/home" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" value="Home"></input>
                    </form>
                    <form action="/management" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" value="Management"></input>
                    </form>
                    <form action="/admin" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" style="font-weight: bold;" value="Admin"></input>
                    </form>
                    <form action="/logout" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" value="Logout"></input>
                    </form>
                </div>
            </div>
        </nav>
        <div id="panel" class="contentPanel">
            <div id="adminPanel" class="adminPanel">
                <h1 class="h3 mb-3 fw-normal">Administration</h1>
                <div class="left">Account requests</div>
                <br>
                <div class="accountsBox" id="requestsBox">
                    <table class="table table-hover table table-striped" style="max-width: 650px; text-align: center; margin: 0 auto;">
                        <thead>
                          <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Approve</th>
                            <th scope="col">Deny</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% data.forEach(function(d) {%>
                          <tr>
                            <td><%= d.RequestFirstName %></td>
                            <td><%= d.RequestLastName %></td>
                            <td><%= d.RequestEmail %></td>
                            <td><button type="button" class="btn btn-success" onclick="openModal(<%= d.AccountRequestID %>)">Yes</button></td>
                            <td><button type="button" class="btn btn-danger">No</button></td>
                          </tr>
                        <% }); %>
                        </tbody>
                      </table>
                </div>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close cursor" onclick="closeModal()" style="color: black;">&times;</span>
                        <form action="/approve" method="post">
                            <h1 class="h3 mb-3 fw-normal">Request Approval</h1>
                            <input type="text" hidden class="form-control-plaintext" id="staticId" value="email@example.com">
                            <label>Request First Name</label>
                            <input type="text" readonly class="form-control-plaintext" id="staticFirstName" value="email@example.com">
                            <label>Request Last Name</label>
                            <input type="text" readonly class="form-control-plaintext" id="staticLastName" value="email@example.com">
                            <label>Request Email</label>
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                            <label>Request Department Name</label>
                            <input type="text" readonly class="form-control-plaintext" id="staticDepartment" value="email@example.com">
                            <label>Request Job Title</label>
                            <input type="text" readonly class="form-control-plaintext" id="staticJob" value="email@example.com">
                            <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="submitApproval(this.form)" style="margin-top: 10px; border-radius: 0px;">Approve</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>